$grey-vlight: #e6e6e6;
$grey-light: rgb(193, 204, 204);
$grey-dark: rgb(12, 12, 12);
$white: #FFFFFF;
$black: rgb(0, 0, 0);
$yellow: rgb(255, 255, 207);
$terminal-red: rgb(196, 63, 63);
$terminal-yellow: rgb(199, 169, 71);
$terminal-green: rgb(71, 199, 125);
$terminal-blue: rgb(66, 150, 228);
$container-max-width: 100rem;

// From defaults.css
$color-link: $terminal-green;
$color-visited-link: $terminal-red;