<div class="outerContainer" style="overflow-y: scroll; height:700px;">
    <div id="story" class="container">
        <div class="header">
            <h2 class="byline"></h2>
        </div>
    </div>
</div>

<script src="/static/Ink/ink.js"></script>
<script src="/static/Ink/{{.Get "file"}}"></script>
<script src="/static/Ink/main.js"></script>